.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output-box {
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}