.container {
    width: 600px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    margin-top: 20px;
    background: black;
    padding: 20px 40px;
    border-radius: 10px;
  }
  
.time {
    font-size: 8rem;
    margin-bottom: 1rem;
    color: white;
  }
  
.buttons button {
    padding: 40px;
    margin-left: 10px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  